@import './vartiables';

header{
    .logo{
        img{
            width: 180px;
        }
    }
    padding: .5em;
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em 0;
        gap: 0;
        .nav-menu{
            a{
                display: inline-block;
                margin: 0 .5em;
                text-decoration: none;
                color: #000;
            }
        }
        .cart-navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5em;
            form{
                background: #fff;
                border: 1px solid #ccc;
                overflow: hidden;
                width: 100%;
                input{
                    height: 35px;
                    border: none;
                    outline: none;
                    padding-left: .3em;
                    margin-right: 1em;
                }
                button{
                    border: none;
                    background: #E36387;
                    color: #fff;
                    padding: .2em;
                    outline: none;
                    height: 35px;
                    margin: 0;
                    width: 40px;
                }
            }
            a{
                text-decoration: none;
                color: grey;
                font-size: 1.7em;
                &:first-of-type{
                    margin-top: 7px;        
                }
            }
        }
    }
}

@media (max-width:750px){
    header{
        padding: 1em;
        nav{
            display: flex;
            flex-direction: column;
            gap: 1em;
            .cart-navigation{
                width: 100%;
                form{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    button{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.cart-navigation{
    overflow: visible;
    position: relative;
        .suggestion-box{
            position: absolute;
            width: 71.12%;
            bottom: 0;
            top: 50px;
            left: 0;
            z-index: 99999;
            transform: scale(1,0);
            transform-origin: top;
            transition: .5s ease;
            .suggestion_list{
                background: #fff;
                padding: .2em .5em;
                a{
                    z-index: 99999;
                    display: block;
                    font-size: 1em;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    margin: .5em 0;
                    color: darkblue;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
.cart-navigation{
    .active-box{
        transform: scale(1,1);
    }
}