*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    padding: .5em;
}
.order-search-container form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.orders-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 1em;
}

.orders-container div{
    border: 1px solid #000;
    padding: .5em;
}

.secondRowContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}